<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Bearer" value= "AAAAAAAAAAAAAAAAAAAAALDHdQEAAAAAe6daC47bJsdM4MwYgLDIm8lomNo%3DKgmYYm6C4ZQLACC966jvvHRCwwY92W8700p3aKtDX1qZKYjJLf" />
    <add key="ConsumerKey" value="qmQNsadxMHI061vCIfZPAET2E"/>
    <add key="ConsumerKeySecret" value="yVURzxZLbAn1uRVz4wytTXojfNrd9IKkvMNd5JOinROqKWI5Vi"/>
    <add key="AccessToken" value="3027896394-IE3dQiwgtFxhcNQIStPQswBCVEEY4MayFXiK37O"/>
    <add key="AccessTokenSecret" value="U3kh3aM7yEryec8t27l8v48TbXATv7q3L5bZdGoMH804L"/>
    <add key="ClientID" value="ekkwaEFXdjBJLWFUSjB4R2JCZEw6MTpjaQ"/>
    <add key="ClientSecret" value="TgHXBuLqSoIEMgCSgIVVseuwsjY-4fL2fLxzTd_PNolRxa0Jmw"/>
  </appSettings>
</configuration>